# Ignore virtual environment directory
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment configuration files
.env

# Ignore log files
*.log

# Ignore any other files or directories you want to exclude
