<!DOCTYPE html>
<html>
<head>
    <title>Add Quote</title>
</head>
<body>
    <h1>Add a New Quote</h1>
    <form method="POST">
        <label for="text">Quote:</label>
        <input type="text" name="text" required><br><br>
        <label for="author">Author:</label>
        <input type="text" name="author" required><br><br>
        <label for="theme">Theme:</label>
        <input type="text" name="theme" required><br><br>
        <input type="submit" value="Add Quote">
    </form>
</body>
</html>
